@font-face {
    font-family: 'Gabarito';
    src: url('../fonts/Gabarito-VariableFont_wght.ttf') format('truetype');  /* Ajusta la ruta y el formato según tu archivo */
}

@font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/OpenSans-VariableFont_wdthwght.ttf') format('truetype');  /* Ajusta la ruta y el formato según tu archivo */
}

body {
    font-family: Arial, sans-serif;
    background-color: #18191F;

}

h2{
    text-transform: uppercase;
    font-size: 34px;
    color: white;
    margin: 50px 30px;
}

#global{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}


#añadirPresentacion{
    width: 280px;
    height: 280px;
    background-color: #304A6E;
    padding: 10px;
    margin: 30px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.caja_añadir {
    margin:50px;
    padding: 50px;
    background-color: #668DC0;
    border-radius: 100px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#añadir {
    font-size: 24px;
    color: #EEF0F4;
    margin-top: -20px;
}

.caja_añadir img {
    height: 80px; 
    width: 80px;
}


.caja {
    width: 280px;
    height: 280px;
    background-color: #EEF0F4;
    padding: 10px;
    margin: 30px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.imagen-overlay {
    position: absolute;
    width: 50%;
    height: 50%;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.caja:hover {
    background-color: #bbbbbb;
}

p {
    text-align: center;
    font-size: 24px;
}

/* Boton de opciones */
.opciones-btn {
    width: 40px;
    height: 50px;
    background-color: #304A6E;
    color: #EEF0F4;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 5px;
    font-size: 18px; 
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* Caja de Botones dentro de opciones */
.opciones {
    display: none;
    position: absolute;
    left: 100%;
    bottom: 0px;
    background-color: #304A6E;
    padding: 10px;
    z-index: 1;
}

/* Botones dentro de la caja de opciones */
button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #304A6E;
    color: #EEF0F4;
    font-family: "Gabarito";
    border: none;
    cursor: pointer;
    margin: 10px 0;
    font-size: 16px;
}

.editar, 
.clonar,
.eliminar{
    width: 135px;
    height: 40px;
}

button img {
    margin-right: 10px;
}


/* Estilo para el botón "Crear Presentación" */
#crearPresentacion {
    position: absolute;
    right: 20px;
    top: 50px;
    background-color: #304A6E;
    color: #EEF0F4;
    padding: 10px 20px; 
    cursor: pointer;
    font-size: 16px; 
}

#btn-crearPresentacion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 30px; 
    font-size: 24px; 
    font-family: "Gabarito";
    cursor: pointer;
    background-color: #304A6E;

}

button:hover {
    background-color: #223650;
}

#crearPresentacion:hover, #btn-crearPresentacion:hover {
    background-color: #223650;
}