@font-face {
    font-family: 'Gabarito';
    src: url('../fonts/Gabarito-VariableFont_wght.ttf') format('truetype'); /* Ajusta la ruta y el formato según tu archivo */
}

@font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/OpenSans-VariableFont_wdthwght.ttf') format('truetype'); /* Ajusta la ruta y el formato según tu archivo */
}

#diapositivas[tema='oscuro'] {
    --background: #1d1e18;
    --border: #eef0f4;
    --focus: #26272d;
}

#diapositivas[tema='claro'] {
    --background: #eef0f4;
    --border: #1d1e18;
    --focus: #d1d1d1;
}

body {
    font-family: Open-Sans;
    background-color: #1d1e18;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.1% 10.9%;
    gap: 30px;
    overflow-x: hidden;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

#inputTitulo {
    background-color: transparent;
    color: #eef0f4;
    font-family: Gabarito;
    font-size: 32px;
    width: max-content;
    border: solid 2px transparent;
    margin: 0;
}

#inputTitulo:hover {
    border: solid 2px #eef0f4;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    width: 104%;
    color: #eef0f4;
    min-width: min-content;
    transform: scale(1);
}

.headerButtons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: min-content;
    gap: 5px 4%;
    border-radius: 8px;
    background: #304a6e;
    padding: 1%;
    min-width: 490px;
}

.descripcion-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37.3%;
    min-width: 37.5px;
}

#data_p {
    width: 100%;
}

#icon-presentaciones {
    margin: 0px 15px;
    font-size: 18px;
    font-family: Open-Sans;
}

.input {
    width: 100%;
    border-radius: 8px;
    margin: 5px 0;
}

input[name='p_descripcion'] {
    height: 30px;
    font-family: Open-Sans;
    font-size: 16px;
    padding-left: 3%;
    border-color: transparent;
}

input[name='p_descripcion']:focus {
    background: #eef0f4;
}

#nova-diapositiva {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

#nova-diapositiva-button {
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
}

#tema-seleccion {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

#tema-button {
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
}

.actionButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
}

.button {
    display: flex;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #eef0f4;
    color: #18191f;
    border: none;
    cursor: pointer;
    width: max-content;
    height: max-content;
    font-size: 16px;
    background: #eef0f4;
}

#diapositivas {
    width: 100%;
    display: contents;
}

.d-container {
    display: flex;
    aspect-ratio: 16/9;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #eef0f4;
    width: 83%;
    min-width: 615px;
    box-sizing: border-box;
    padding: 4%;
    background-color: var(--background);
}

.d-container input {
    display: block;
    width: 100%;
    font-size: 240%;
    font-family: Open-Sans;
    margin: 15px 0px;
    box-sizing: border-box;
    padding: 5px;
    background: none;
    color: var(--border);
    outline: none;
    border: solid 2px var(--border);
    height: 15%;
}

.d-container textarea {
    height: 80%;
    width: 100%;
    resize: none;
    font-size: 20px;
    padding: 10px;
    border: solid 2px var(--border);
    outline: none;
    box-sizing: border-box;
    background: none;
    color: var(--border);
}

.focus:focus {
    border: solid 2px #304a6e;
    background-color: var(--focus);
}

.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    overflow: auto;
    margin-top: 1%;
}
.dropdown-content {
    border-radius: 8px;
}
.dropdown-content span {
    display: block;
    padding: 8px;
    background-color: #eef0f4;
    color: black;
}
.dropdown-content span:hover {
    color: #ffffff;
    background-color: #00a4bd;
}

/*Dialog*/
dialog {
    background-color: #a7a7a7;
    border-radius: 10px;
    position: fixed;
    font-size: 20px;
    bottom: 50%;
    left: 0%;
    width: 24%;
    z-index: 9999;
}

#confirmarGuardar {
    background-color: #a7a7a7;
    border-radius: 10px;
    position: fixed;
    font-size: 20px;
    bottom: 50%;
    left: 0%;
    width: 16%;
    z-index: 9999;
}

#btn-aceptar,
#btn-cancelar {
    background-color: #304a6e;
    font-size: 17px;
    padding: 10px 20px;
    color: #eef0f4;
    border: none;
    margin-right: 20px;
    border-radius: 8px;
    float: right;
}

#btn-aceptar:hover,
#btn-cancelar:hover {
    background-color: #223650;
    cursor: pointer;
}

#btn-aceptar-exito {
    background-color: #304a6e;
    font-size: 17px;
    padding: 10px 20px;
    color: #eef0f4;
    border-radius: 8px;
    border: none;
    margin-right: 20px;
    float: right;
}

#btn-aceptar-exito:hover {
    background-color: #223650;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo oscuro con opacidad */
    z-index: 9998; /* Asegura que la superposición esté por encima del contenido */
    display: none; /* Inicialmente oculta la superposición */
}
