@font-face {
    font-family: 'Gabarito';
    src: url('../fonts/Gabarito-VariableFont_wght.ttf') format('truetype'); /* Ajusta la ruta y el formato según tu archivo */
}

@font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/OpenSans-VariableFont_wdthwght.ttf') format('truetype'); /* Ajusta la ruta y el formato según tu archivo */
}

body[tema='oscuro'] {
    --background: #1d1e18;
    --border: #eef0f4;
    --focus: #26272d;
}

body[tema='claro'] {
    --background: #eef0f4;
    --border: #1d1e18;
    --focus: #d1d1d1;
}

body {
    font-family: Open-Sans;
    aspect-ratio: 16/9;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 99vw;
    height: 97vh;
}

#diapositivaAnterior {
    position: absolute;
    left: 0;
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 1.5%;
}

#diapositivaAnterior:hover button {
    display: flex;
}

#diapositivaPosterior {
    position: absolute;
    right: 0;
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 1.5%;
}

#diapositivaPosterior:hover button {
    display: flex;
}

button {
    border-radius: 100%;
    background: #304a6e;
    border: 0;
    padding: 10px 18px;
    display: none;
    justify-content: center;
    align-items: center;
}

#diapositivas {
    height: 100%;
    width: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-container {
    height: 100%;
    aspect-ratio: 16 / 9;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 615px;
    color: var(--border);
    gap: 5%;
}

h1 {
    display: flex;
    width: 75%;
    height: 7%;
    justify-content: center;
    align-items: start;
    font-size: 52px;
}

p {
    width: 75%;
    height: 100%;
    font-size: 32px;
}
